annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
apturl==0.5.2
attrs==21.2.0
bcrypt==3.2.0
beniget==0.4.1
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.5.2
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.4
command-not-found==0.3
cpuset==1.6
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
docstring_parser==0.16
duplicity==0.8.21
exceptiongroup==1.3.0
fasteners==0.14.1
Flask==3.1.1
flask-cors==6.0.0
flatbuffers==25.2.10
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.95.1
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-dialogflow-cx==1.41.0
google-cloud-resource-manager==1.14.2
google-cloud-speech==2.32.0
google-cloud-storage==2.19.0
google-cloud-tasks==2.1.0
google-cloud-texttospeech==2.27.0
google-cloud-translate==3.20.2
google-crc32c==1.7.1
google-genai==1.17.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.73.0rc1
grpcio-status==1.71.0
gyp==0.1
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
idna==3.3
importlib-metadata==4.6.4
itsdangerous==2.2.0
jeepney==0.7.1
Jetson.GPIO==2.1.7
Jinja2==3.1.6
keras==2.10.0
keyring==23.5.0
kiwisolver==1.3.2
langdetect==1.0.9
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==3.0.2
matplotlib==3.5.1
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
netifaces==0.11.0
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
packaging==25.0
pandas==1.3.5
paramiko==2.9.3
pexpect==4.8.0
Pillow==8.0.0
ply==3.11
proto-plus==1.26.1
protobuf==5.29.5
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycups==2.0.1
pydantic==2.11.5
pydantic_core==2.33.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyRFC3339==1.1
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
python-dotenv # Pour charger les .env
python-engineio # Dépendance de Flask-SocketIO
python-socketio # Dépendance de Flask-SocketIO
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.8.0
SecretStorage==3.3.1
shapely==2.1.1
shiboken6==6.8.0.2
six==1.16.0
sniffio==1.3.1
sympy==1.9
systemd-python==234
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.37.1
tensorrt==10.3.0
tensorrt_dispatch==10.3.0
tensorrt_lean==10.3.0
termcolor==3.0.1
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.13.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==1.26.5
urwid==2.1.2
wadllib==1.3.6
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.2
xdg==5
xkit==0.0.0
zipp==1.0.0
