# backend/requirements.txt - Dépendances directes du projet
fastapi
uvicorn # Assurez-vous que uvicorn est là
gunicorn # ✅ AJOUTEZ CETTE LIGNE
python-dotenv
psycopg2-binary
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator
sqlalchemy-utils
numpy
transformers
sentence-transformers
pgvector
google-cloud-aiplatform