# Fichier .gcloudignore pour un projet Python

# === Python ===
# Fichiers de cache et de compilation
__pycache__/
# Ignore all python files but allow the blender script
!blender_test_script.py
*.py
*.py[cod]
*.class

# Environnement virtuel (TRES IMPORTANT !)
# Le nom de votre venv est venv_chat
venv_chat/
venv/
.venv/
env/

# Fichiers de variables d'environnement locales (ne jamais les déployer)
.env

# === Outils courants ===
# Fichiers de configuration de l'éditeur/IDE
.vscode/
.idea/
*.swp

# Fichiers système
.DS_Store
Thumbs.db

# === Git ===
# Le dossier git ne doit jamais être inclus
.git/
.gitignore
