# Fichier : backend-api/requirements.txt
# VERSION NETTOYÉE

# Framework web
Flask
gunicorn

# Pour le modèle d'IA
tensorflow
numpy
Pillow

# Optionnel mais souvent utile avec Flask
Flask-Cors
python-dotenv