Flask
Flask-Cors
google-cloud-aiplatform
protobuf<5.0.0
openai
langchain==0.1.19
langchain-community
langdetect
googletrans==4.0.0rc1
opencv-python
Pillow
python-dotenv
requests
gunicorn
google-cloud-logging
